/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 dic 2025, 18:44:52
    Author     : LERI
*/
/***** ===== VENTANA MAPA ===== *****/

/* Fondo principal */
.root-mapa {
    -fx-background-color: #ECD2E8; /* Lavender Veil */
    -fx-font-family: "Segoe UI", "Arial";
}

/* ====== MenuBar ====== */

.menu-bar {
    -fx-background-color: #C98EB7;
    -fx-padding: 6 10;
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.menu:hover {
    -fx-background-color: #B87AA5;
}

/* ====== ToolBar ====== */

.tool-bar {
    -fx-background-color: #F3DFF0; /* pastel suave */
    -fx-padding: 6 10;
    -fx-spacing: 8;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.13) ,6 ,0 ,0 ,1 );
}

.tool-bar .button {
    -fx-background-color: #5E6B81; /* gris azul */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 7 14;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-cursor: hand;
}

.tool-bar .button:hover {
    -fx-background-color: #85A0AE; /* más clarito */
}

/* ====== Zona del Mapa ====== */

.map-container {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C98EB7;
    -fx-border-width: 4;
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-padding: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 12, 0.1, 0, 4);
}

/* Para Scroll dentro del mapa, si lo usas */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.boton-herramienta {
    -fx-background-color: #A9D1D8;
    -fx-border-color: #C98EB7;
    -fx-border-width: 2;
    -fx-padding: 6;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.boton-herramienta .label, .boton-herramienta .graphic {
    -fx-text-fill: #464E61;
}

.boton-herramienta:hover {
    -fx-background-color: #E5C8E1;
}

